#root{
  background-color: #fdfdfd;
}

.pokemon-single-container {
  width: 12em;
  height: 14em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fef9e6;
  color: #2c2c2c;
  font-family: 'Signika', sans-serif;
  margin: 5px;
}

.pokemon-single-container:hover {
  cursor: pointer;
  background-color: #8e0002;
  color: #fdfdfd;
}

.logo{
  display: flex;
  justify-content:center;
  margin-top: 10px;
  margin-bottom: 20px;
}